# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Model files (opcjonalnie)
# models/*.pkl

# Temporary files
*.log